<!-- HTML for the footer -->
<footer class="hide-m">
  <div class="container">
    <div class="footer-menu">
      <div>
        <img src="/img/logo.svg" />
        <p>Lorem ipsum dolor sit amet consectetur. Quisque lectus tempus id neque nunc egestas quis id velit. Cursus urna sed elit arcu quis at in interdum phasellus.Lorem ipsum dolor sit</p>
        <button>Lets Talk <i class="fa-light fa-arrow-up-right"></i></button>
      </div>
      <div>
        <div>
          <h4>Quick Links</h4>
          <ul>
            <li><a href="/#">Home</a></li>
            <li><a href="/#">About Us</a></li>
            <li><a href="/#">Solutions</a></li>
            <li><a href="/#">Portfolio</a></li>
            <li><a href="/#">Testimonials</a></li>
            <li><a href="/#">Blog</a></li>
            <li><a href="/#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <div>
            <h4>Social Media</h4>
            <div class="social-media">
              <a><i class="fab fa-square-instagram"></i></a>
              <a><i class="fab fa-facebook"></i></a>
              <a><i class="fab fa-twitter"></i></a>
              <a><i class="fab fa-youtube"></i></a>
            </div>
          </div>
          <div class="address">
            <strong>Corporate Office</strong> <br />
            DataHex Digital Solution<br />
            3rd Floor, Hilite Business Park<br />
            Calicut, Kerala673001<br />
          </div>
          <div class="phone">+91 xxxxx xxxxx, +91 xxxxx xxxxx</div>
        </div>
      </div>
    </div>
    <div class="row copywrite">
      <div class="text">
        <!-- Add the copywriter here -->
        <p id="copyright"></p>

        <script>
          // Get the current year
          const currentYear = new Date().getFullYear();

          // Set the current year in the HTML element
          document.getElementById("copyright").innerText = `© ${currentYear} Datahex Digital Solutions. All rights reserved.`;
        </script>
      </div>

      <div class="social-media">
        <!-- Add the social icons here -->
        <a href="/">Terms and condition</a>
        <a href="/">Privacy policy</a>
      </div>
    </div>
  </div>
</footer>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="../js/index.js?v20"></script>
<script src="https://kit.fontawesome.com/98b002e792.js" crossorigin="anonymous"></script>
</body>
</html>
