<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>Datahex - Digital Solutions</title>
  <!-- <link rel="shortcut icon" href="img/favicon.png" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/stylesheets/css/style.css">
  <link rel="stylesheet" href="/stylesheets/css/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/css/editor.css">
  <link rel="stylesheet" href="/js/index.js">
  <link rel="stylesheet" href="/img">
  <link rel="stylesheet" href="/js/bootstrap.min.js">
  <link rel="stylesheet" href="/js/io.js">
  <link rel="stylesheet" href="/css/style.css?v25" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <script src="https://kit.fontawesome.com/20419354fd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500&display=swap" rel="stylesheet" />
  <script src="https://book-daallo.crane.aero/ibe/js/hitit-ui/1.0.0/searchapi.js"></script>
  <!-- CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet" />
  <link href="https://db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended+Bold"
    rel="stylesheet" />
</head>

<body>
  <!-- Header -->
  <header>
    <div class="container">
      <div class="header-container">
        <div class="logo">
          <a href="/"><img src="/img/logo.png" alt="Logo" /></a>
          <div class="right-buttons">
            <a class="android-button" target="_blank"
              href="https://play.google.com/store/apps/details?id=com.daalloairlineapp&pli=1">
              <i class="fab fa-google-play"></i>
            </a>
            <a class="ios-button" target="_blank" href="https://apps.apple.com/app/id6447756296">
              <i class="fab fa-app-store-ios"></i>
            </a>
            <button class="nav-button">
              <i class="far fa-bars"></i>
            </button>
          </div>
        </div>
        <nav class="header-right">
          <div class="nav-item active">
            <a class="main active" href="#">Home</a>
          </div>
          <div class="nav-item">
            <a class="main" href="#">About Us</a>
          </div>
          <div class="nav-item">
            <a class="main" href="#">Solutions</a>
          </div>
          <div class="nav-item">
            <a class="main" href="#">Portfolio</a>
          </div>
          <div class="nav-item">
            <a class="main" href="#">Testimonial</a>
          </div>
          <div class="nav-item">
            <a class="main" href="#">Blog</a>
          </div>
          <div class="nav-item">
            <a class="main" href="#">Contact</a>
          </div>
        </nav>
        <div class="menu-buttons">
          <a class="get-in-touch" target="_blank" href="#">
            Get In Touch
            <i class="fa-light fa-arrow-up-right"></i>
          </a>
        </div>
      </div>
    </div>
  </header>
</body>

</html>